*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.superdesign
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/public/upload
/storage/*.key
/storage/installed
/storage/pail
Homestead.json
Homestead.yaml
Thumbs.db

/upload/*
!/upload/_avatar.png
!/upload/avatar.png
!/upload/cover.jpg
/Documents

/plugins/*
/themes/*
!/themes/default/
/public/themes/*
!/public/themes/default/
/tests
